In [1]:
import numpy as np
import pandas as pd
music_log1, music_log2, music_log3 = ['20170301_play.log', '20170302_1_play.log', '20170303_1_play.log']
#df = pd.read_table(music_log1, sep='\t', skiprows=2, nrows=500000, header=None)
# df = pd.read_csv(music_log1, sep='\t', skiprows=2, nrows=5000, header= None,names=['uid', 'os', 'rid', 'type', 'name', 'artist', 
# 'play_len', 'song_len', 'TBA'],  error_bad_lines=True, warn_bad_lines=True)
df = pd.read_csv(music_log1, sep='\t', header= None, skiprows=2, error_bad_lines=False, warn_bad_lines=False)

In [2]:
df.columns=['uid', 'os', 'rid', 'type', 'name', 'artist', 'play_len', 'song_len', 'pay']

In [3]:
df.head()

,uid,os,rid,type,name,artist,play_len,song_len,pay
0,154422682.0,ar,20870993,1,用情,狮子合唱团,22013,332,0.0
1,154421907.0,ip,6560858,0,表情不要悲伤,伯贤&D.O.&张艺兴&朴灿烈,96,161,0.0
2,154422630.0,ar,3385963,1,"Baby, Don't Cry(人鱼的眼泪)",EXO,235868,235,0.0
3,154410267.0,ar,6777172,0,3D-环绕音律1(3D Mix),McTaiM,164,237,0.0
4,154407793.0,ar,19472465,0,刚好遇见你,曲肖冰,24,201,0.0

In [4]:
df.shape

(3412897, 9)

In [5]:
len(df.uid.unique()), len(df.rid.unique())

(175073, 309426)

In [6]:
df.describe()

//anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

                uid        pay
count  3.412220e+06  3411539.0
mean   1.471100e+08        0.0
std    3.085694e+07        0.0
min    0.000000e+00        0.0
25%             NaN        NaN
50%             NaN        NaN
75%             NaN        NaN
max    1.548342e+08        0.0

In [7]:
df.isnull().sum()

uid          677
os             4
rid            4
type           4
name           4
artist      1358
play_len    1358
song_len    1358
pay         1358
dtype: int64

In [8]:
df.dropna(inplace=True)
df['play_len']=pd.to_numeric(df['play_len'], errors=coerce)
df['song_len']=pd.to_numeric(df['song_len'], errors=coerce)
df['uid']=pd.to_numeric(df['uid'], errors=coerce)
df['rid']=pd.to_numeric(df['rid'], errors=coerce)
# df=df.fillna(0)

In [9]:
df.shape

(3411539, 9)

In [10]:
df.isnull().sum()

uid             0
os              0
rid         11195
type            0
name            0
artist          0
play_len    45570
song_len    11239
pay             0
dtype: int64

In [11]:
df[df['uid']==0].shape

(2524, 9)

In [12]:
#Delete uid=0 rows
df=df[df['uid']!=0]

In [13]:
df.shape

(3409015, 9)

In [14]:
df[df.rid==0].shape, df[df.rid<0].shape

((256622, 9), (94, 9))

In [15]:
df.rid[df.rid<0] = 0

In [16]:
df.rid.replace('0', np.nan, inplace=True)

In [17]:
df.isnull().sum()

uid              0
os               0
rid         267872
type             0
name             0
artist           0
play_len     45449
song_len     11200
pay              0
dtype: int64

In [18]:
#impute missing rid with existing value
#The order of group labels do not matter
df['rid'] = df.groupby(['artist','name'])['rid']  \
.transform(lambda grp: grp.fillna(method='ffill'))

In [19]:
df.isnull().sum()

uid              0
os               0
rid         179393
type             0
name             0
artist           0
play_len     45449
song_len     11200
pay              0
dtype: int64

In [20]:
rid_null_index = df[df['rid'].isnull()].index
df = df.drop(rid_null_index, axis = 0)

In [21]:
df=df.drop(df[df.play_len<=0].index, axis=0)

In [22]:
df[df.play_len<=0].shape

(0, 9)

In [23]:
df[df.song_len==0].shape, df[df.song_len<0].shape

((267487, 9), (1367, 9))

In [24]:
df.song_len[df.song_len<0]=0

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [25]:
df[df.song_len<0].shape

(0, 9)

In [26]:

df.song_len.replace('0',np.nan, inplace = True)

In [27]:
df.isnull().sum()

uid              0
os               0
rid              0
type             0
name             0
artist           0
play_len     37471
song_len    272223
pay              0
dtype: int64

In [28]:
#impute missing song_len with existing value
df['song_len'] = df.groupby(['rid','name','artist'])['song_len']\
.transform(lambda grp: grp.fillna(method='ffill'))

In [29]:
df.isnull().sum()

uid             0
os              0
rid             0
type            0
name            0
artist          0
play_len    37471
song_len    50014
pay             0
dtype: int64

In [30]:
song_len_null_index = df[df['song_len'].isnull()].index
df = df.drop(song_len_null_index, axis = 0)

In [31]:
df[df.uid<=0].shape

(0, 9)

In [32]:
df['uid'].astype(int)
#df['play_len'].astype(int)
#df['song_len'].astype(int)
df.head()

,uid,os,rid,type,name,artist,play_len,song_len,pay
0,154422682.0,ar,20870993.0,1,用情,狮子合唱团,22013.0,332.0,0.0
1,154421907.0,ip,6560858.0,0,表情不要悲伤,伯贤&D.O.&张艺兴&朴灿烈,96.0,161.0,0.0
2,154422630.0,ar,3385963.0,1,"Baby, Don't Cry(人鱼的眼泪)",EXO,235868.0,235.0,0.0
3,154410267.0,ar,6777172.0,0,3D-环绕音律1(3D Mix),McTaiM,164.0,237.0,0.0
4,154407793.0,ar,19472465.0,0,刚好遇见你,曲肖冰,24.0,201.0,0.0

In [33]:
# df['play_times']=df.play_len/ df.song_len
# df[df.play_times>5].shape
# Cap to 5 times 
# df.play_times[df.play_times>5]=5

In [34]:
df[df.play_len<=0].shape, df[df.song_len<=0].shape

((0, 9), (0, 9))

In [35]:
df.head()

,uid,os,rid,type,name,artist,play_len,song_len,pay
0,154422682.0,ar,20870993.0,1,用情,狮子合唱团,22013.0,332.0,0.0
1,154421907.0,ip,6560858.0,0,表情不要悲伤,伯贤&D.O.&张艺兴&朴灿烈,96.0,161.0,0.0
2,154422630.0,ar,3385963.0,1,"Baby, Don't Cry(人鱼的眼泪)",EXO,235868.0,235.0,0.0
3,154410267.0,ar,6777172.0,0,3D-环绕音律1(3D Mix),McTaiM,164.0,237.0,0.0
4,154407793.0,ar,19472465.0,0,刚好遇见你,曲肖冰,24.0,201.0,0.0

In [36]:
df['play_len']=df.groupby(['rid','uid'])['play_len'].transform(lambda grp: grp.sum())
#df['play_times']=df.groupby(['rid','uid'])['play_times'].transform(lambda grp: grp.sum())

In [37]:
df=df.drop_duplicates(subset=['rid','uid'])

In [38]:
df[df.play_len<=0].shape, df[df.song_len<=0].shape, df[df.play_len<0].shape

((24412, 9), (0, 9), (0, 9))

In [39]:
df.shape

(1887174, 9)

In [40]:
df=df[df.play_len>0]

In [41]:
df.shape

(1862762, 9)

In [42]:
len(df.uid.unique())

166926

In [43]:
len(df.rid.unique())

272964

In [44]:
df['play_times']=df.play_len/ df.song_len

In [45]:
df[df.play_times<=0].shape

(0, 10)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

df[ ['play_times'] ].plot.box()

In [ ]:
df.shape

In [46]:
df[df.play_times>10].shape

(67660, 10)

In [47]:
df.play_times[df.play_times>10]=10

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [ ]:
df[ ['play_times'] ].plot.box()

In [48]:
df.shape

(1862762, 10)

In [49]:
df.to_csv('preprocecced_20170301_play_log.csv', sep='\t')

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_table('preprocecced_20170301_play_log.csv', sep='\t', \
                   error_bad_lines=False, warn_bad_lines=True)

In [50]:
df_song = pd.DataFrame(df.rid)
df_song['name']=df.name
df_song['artist']=df.artist

In [51]:
df_song['play_times']=df.groupby('rid')['play_times'].transform(lambda grp: grp.sum())

In [52]:
len(df_song.rid.unique())

272964

In [53]:
df_song=df_song.drop_duplicates('rid')

In [54]:
df_song.shape

(272964, 4)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
df_song.play_times.plot.box()

In [ ]:
quant_pop=df_song.play_times.quantile(0.9)

In [55]:
df_song[df_song.play_times>10000].name

0                           用情
43                        盛夏光年
53                      三十岁的女人
58                     很想很想说再见
82     三生三世-(电视剧《三生三世十里桃花》主题曲)
120                         哥哥
137                     Adagio
173      Writing's on the wall
316      凉凉-(电视剧《三生三世十里桃花》片尾曲)
344                      刚好遇见你
Name: name, dtype: object

In [56]:
df_song[df_song.play_times<1].index

Int64Index([     11,      18,      31,      36,      52,      63,      79,
                 80,      83,      85,
            ...
            3412733, 3412737, 3412788, 3412796, 3412812, 3412821, 3412837,
            3412838, 3412839, 3412852],
           dtype='int64', length=157581)

In [57]:
df_song.rid[df_song.play_times>=5].shape

(38753,)

In [58]:
#Select songs played by more than 5 times
df_sel1=df.ix[df_song[df_song.play_times>=5].index]

In [59]:
#df_user = pd.DataFrame(df.rid)
uid_array=df_sel1.groupby('uid')['rid'].nunique()
uid_array.shape

(16675,)

In [60]:
df_sel1.uid.nunique()

16675

In [62]:
uid_array[uid_array>=5].shape

(1519,)

In [63]:
select_uid=uid_array[uid_array>=5].index

In [64]:
select_uid

Float64Index([   168955.0,    398309.0,    533817.0,   1677249.0,   1685126.0,
                1749320.0,   1883192.0,   5914620.0,  13292859.0,  20273819.0,
              ...
              154768395.0, 154784189.0, 154793599.0, 154800635.0, 154817301.0,
              154819333.0, 154819604.0, 154819805.0, 154825819.0, 154829456.0],
             dtype='float64', name=u'uid', length=1519)

In [65]:
df_sel1=df_sel1[df_sel1.uid.isin(select_uid)]

In [66]:
df_sel1.shape

(16352, 10)

In [68]:
df_sel1.to_csv('sel1_20170301_play_log.csv', sep='\t')

In [77]:
df_sel2=df.ix[df_song[df_song.play_times>=10].index]

In [78]:
df_user = pd.DataFrame(df_sel2.rid)
uid_array2=df_sel2.groupby('uid')['rid'].nunique()
uid_array2.shape

(12013,)

In [79]:
df_sel2.uid.nunique()

12013

In [80]:
uid_array2[uid_array2>=10].shape

(278,)

The history saving thread hit an unexpected error (OperationalError('unable to open database file',)).History will not be written to the database.

In [81]:
select_uid2=uid_array2[uid_array2>=10].index

In [82]:
df_sel2=df_sel2[df_sel2.uid.isin(select_uid2)]

In [83]:
select_uid2

Float64Index([   398309.0,   1677249.0,   1685126.0,   1749320.0,   1883192.0,
               26036032.0,  26706335.0,  28638487.0,  32166203.0,  34310052.0,
              ...
              154611267.0, 154618575.0, 154628890.0, 154630483.0, 154640099.0,
              154660090.0, 154669336.0, 154793599.0, 154800635.0, 154819333.0],
             dtype='float64', name=u'uid', length=278)

In [84]:
df_sel2.shape

(6204, 10)

In [86]:
df_sel2.to_csv('sel2_20170301_play_log.csv', sep='\t')